@font-face {
  font-family: 'fuentePersonalizada2';
  src: url('LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'fuentePersonalizada3';
  src: url('DMSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'fuentePersonalizada4';
  src: url('Satisfy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'fuentePersonalizada5';
  src: url('Thrainly Sellier (Free).otf') format('opentype');
}

body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#texto{
	position:absolute;
	font-family: fuentePersonalizada2; 
	font-size: 170pt;
	margin:0;
}

#titulo{
	position:absolute;
	font-family: fuentePersonalizada3; 
	font-size: 25pt;
	margin:0;
}

#titulo2{
	position:absolute;
	font-family: fuentePersonalizada4; 
	font-size: 25pt;
	margin:0;
	color:#005109;
}

.container{
	position:relative;
	height:100%;
	width:100%;
	
	animation: desaparecer 6s ease-in-out forwards;
}

.animar {
	position: absolute;
	left: 50%;
	top: 5vh;
	width: 200px;
	height: 200px;
	animation: slide-in 1s ease-in-out forwards;
  
	display:flex;
	
	justify-content:center;
	align-items:center;
}

.animar2 {
	position: absolute;
	left: 50%;
	top: 17vh;
	width: 200px;
	height: 200px;
	animation: slide-in-right 1s ease-in-out forwards;
  
	display:flex;
	
	justify-content:center;
	align-items:center;
}

.animar3 {
	position: absolute;
	left: 50%;
	top: 65vh;
	width: 200px;
	height: 200px;
	animation: slide-in 1s ease-in-out forwards;
	
	display:flex;
	
	justify-content:center;
	align-items:center;
}

.animarTitulo{
	position: absolute;
	left: 50%;
	top: 89vh;
	width: 500px;
	height: 100px;
	
	animation: slide-in-up 2s ease-in-out forwards;
	
	display:flex;
	
	justify-content:center;
	align-items:center;
	
	transform: translateX(-50%);
}

.animarTitulo2{
	position: absolute;
	left: 50%;
	top: 90vh;
	width: 90%;
	height: 100px;
	
	animation: opacity-animate 3s ease-in-out forwards;
	
	display:flex;
	
	justify-content:center;
	align-items:center;
	
	transform: translateX(-50%);
}

@keyframes slide-in {
  0% {
    transform: translateX(-1200%);
  }
  70% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1200%);
  }
  70% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-in-up {
	0% {
		transform: translateX(-50%) translateY(100%);
	}
	50% {
		transform: translateX(-50%) translateY(100%);
	}
	100% {
		transform: translateX(-50%) translateY(-50%);
	}
}

@keyframes opacity-animate {
	0% {
		opacity:0;
	}
	66%{
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@keyframes desaparecer {
	0% {
		opacity:1;
	}
	83%{
		opacity:1;
	}
	100% {
		opacity:0;
	}
}

#titulo-2{
	position:absolute;
	font-family: fuentePersonalizada5; 
	font-size: 50pt;
	margin:0;
	color:#A99F90;
}

.container-2{
	position:absolute;
	height:100%;
	width:100%;
	
	top:0;
}

.titulo{
	position: absolute;
	left: 50%;
	top: 35vh;
	width: 90%;
	height: 100px;
	
	display:flex;
	
	justify-content:center;
	align-items:center;
	
	transform: translateX(-50%);
	
	animation: aparecer 8s ease-in-out forwards;
}


@keyframes aparecer {
	0% {
		opacity:0;
	}
	87%{
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
